.mainContainer{
    width: 100%;
    height: 90.7vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .patientBG{
        position: absolute;
        left: 0;
        bottom: -2px;
        z-index: -1;
    }

    .doctorBG{
        position: absolute;
        right: -5px;
        bottom: 0;
        z-index: -1;
    }

    .loginForm{
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 2px 0px 6px -2px rgba(0,0,0,0.55);
        border-radius: 1em;
        border: 1px solid rgb(219, 219, 219);
        padding: 1em 3em;

        h2{
            margin: 1em 0;
            letter-spacing: 1px;
        }

        input{
            background-color: white;
            border: 1px solid rgb(214, 214, 214);
            padding: 1em;
            border-radius: 0.7em;
            margin: 0.7em 0;
        }

        button{
            background-color: #0452ce;
            color: white;
            font-weight: bold;
            font-size: 1.1em;
            padding: 0.8em 1em;
            border: 0;
            border-radius: 0.7em;
            margin: 0.6em 0;
            &:hover{
                cursor: pointer;
            }
        }

        .errorMsg{
            background-color: rgb(255, 224, 224);
            padding: 0.6em 1em;
            color: red;
            margin: 1em 0;
        }

        .signup{
            margin: 1em 0;
        }
    }
}