.modalOverlay{
    position: absolute;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.688);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    .modal{
        margin-top: 2em;
    }
}