.navMainContainer{
    width: 100%;
    height: 4em;
    background-color: white;
    box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.25);
    ul{
        width: 100%;
        height: inherit;
        display: flex;
        align-items: center;
        position: relative;
        li{
            display: flex;
            width: 100%;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                color: black;
                font-weight: bolder;
                font-size: 1.1em;
                .homepageLink{
                    margin: 0 13em;
                }

                .logoImage{
                    width: 2.5em;
                    height: inherit;
                    margin: 0 0.7em;
                }
            }
        }

        .accountLogout{
           display: flex;
           justify-content: flex-end;
           margin-right: 3em;
           position: relative; 
           text-transform: capitalize;

            &:hover{
                cursor: pointer;
            }

           .arrowDown{
            margin-left: 0.3em;
            transform: rotate(90deg);
           }

           .accountDropdown{
            width: 8em;
            border: 1px solid rgb(235, 234, 234);
            border-radius: 0.5em;
            position: absolute;
            top: 1.8em;
            background-color: white;
            box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.25);
            display: flex;
            flex-direction: column;
            padding: 0.8em 1em;

            span{
                margin: 0.5em 0;
                margin-left: 0.3em;
                font-size: 1em;

                &:hover{
                    color: rgb(222, 0, 56);
                }

                a{
                    font-size: 1em;
                    display: block;
                    font-weight: normal;

                    &:hover{
                        color: #0452ce;
                    }
                }
            }

            hr{
                border: 1px solid rgb(235, 234, 234);
            }

           }
        }
    }
}

.modalOverlay{
    position: absolute;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.688);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal{ 
        position: fixed;
        width: 14em;
        height: auto;
        padding-top: 1em;
        background-color: white;
        box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.25);
        border-radius: 0.5em;

        h1{
            font-size: 1.1em;
            margin-left: 0.9em;
            margin-bottom: 0.5em;
        }

        p{
            width: 100%;
            margin: 1em;
        }

        .confirm{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: 1px solid rgb(219, 219, 219);
            span{

                width: 100%;
                height: 100%;
                text-align: center;
                padding: 1em 0;
                
                a{
                    color: black;
                }

                &:hover{
                    cursor: pointer;
                }

                &:first-child{
                    &:hover{
                        border-radius: 0 0 0 0.5em;
                        background-color: #0452ce;
                        color: white;
                    }
                }
                &:last-child{
                    border-radius: 0 0 0.5em 0;
                    &:hover{
                        background-color: rgb(222, 0, 56);
                        a{
                            color: white;
                        }
                    }
                }
            }
        }
    }
}