.navMainContainer{
    width: 100%;
    height: 4em;
    background-color: white;
    box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgb(219, 219, 219);
    ul{
        width: 100%;
        height: inherit;
        display: flex;
        align-items: center;
        position: relative;

        li{
            display: flex;
            width: 100%;

            a{
                display: flex;
                justify-content: center;
                align-items: center;
                color: black;
                font-weight: bolder;
                font-size: 1.1em;

                .homepageLink{
                    margin: 0 13em;
                }

                .logoImage{
                    width: 2.5em;
                    height: inherit;
                    margin: 0 0.7em;
                }
            }
        }

        .navText{
           width: 100%;
           display: flex;
           justify-content: flex-end;
           align-items: center;
           text-transform: capitalize;

            .navigation{
                display: flex;
                align-items: center;
                width: 100%;
                
                span{
                    width: auto;
                    margin-right: 1.3em;
                    font-size: 0.9em;
                    font-weight: normal;
                    transition: 150ms;
                    &:hover{
                        cursor: pointer;
                        color: #0452ce;
                        transform: scale(1.02);
                    }
                }
            }

            .bell{
                width: auto;
                margin-right: 1.5em;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                .notificationDot{
                    top: 5%;
                    left: 5%;
                    position: absolute;
                    color: red;
                }

                .bellIcon{  
                    font-weight: bolder;
                    font-size: 1.5em;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }

            .accountDropdown{
                position: relative; 
                width: 40%;
                font-size: 0.95em;

                &:hover{
                    cursor: pointer;
                }
                   .accountDropdown{
                    width: 8em;
                    border: 1px solid rgb(235, 234, 234);
                    border-radius: 0.5em;
                    position: absolute;
                    top: 2em;
                    right: 33%;
                    background-color: white;
                    box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.25);
                    display: flex;
                    flex-direction: column;
                    padding: 0.8em 1em;
        
                    span{
                        margin: 0.5em 0;
                        margin-left: 0.3em;
                        font-size: 1em;
        
                        &:hover{
                            color: rgb(222, 0, 56);
                        }
        
                        a{
                            font-size: 1em;
                            display: block;
                            font-weight: normal;
        
                            &:hover{
                                color: #0452ce;
                            }
                        }
                    }
        
                    hr{
                        border: 1px solid rgb(235, 234, 234);
                    }
        
                   }
            }
        }
    }
}

.modalOverlay{
    position: absolute;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.688);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal{ 
        position: fixed;
        width: 14em;
        height: auto;
        padding-top: 1em;
        background-color: white;
        box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.25);
        border-radius: 0.5em;

        h1{
            font-size: 1.1em;
            margin-left: 0.9em;
            margin-bottom: 0.5em;
        }

        p{
            width: 100%;
            margin: 1em;
        }

        .confirm{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: 1px solid rgb(219, 219, 219);

            span{
                width: 100%;
                height: 100%;
                text-align: center;
                padding: 1em 0;
                
                a{
                    color: black;
                }

                &:hover{
                    cursor: pointer;
                }

                &:first-child{

                    &:hover{
                        border-radius: 0 0 0 0.5em;
                        background-color: #0452ce;
                        color: white;
                    }
                }

                &:last-child{
                    border-radius: 0 0 0.5em 0;

                    &:hover{
                        background-color: rgb(222, 0, 56);
                        
                        a{
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

.notificationContainer{
    border: 1px solid rgb(203, 203, 203);
    border-radius: 0.5em;
    position: absolute;
    width: 12em;
    height: auto;
    top: 3em;
    right: 14.5%;
    background-color: white;
    box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    padding: 0.8em 1em;
    padding-bottom: 1em;

    .content{

        h5{
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: 1em;
            padding-bottom: 0.3em;
            border-bottom: 1px solid rgb(230, 230, 230);
        }

        span{
            background-color: #0451ce14;
            padding: 0.5em;
            border-radius: 0.3em;
            letter-spacing: 1px;
            font-size: 0.93em;
        }

        p{
            font-size: 0.8em;
            margin-top: 1.8em;
            margin-bottom: 0.6em;
            padding-left: 0.5em;
            font-weight: bold;
        }
    
        .alert{
            font-size: 0.8em;
            padding: 0.5em 0.3em;
            padding-left: 0.6em;
            margin-top: 1em;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            background-color: rgba(0, 128, 0, 0.051);
            border-left: 0.25em solid green;
        }

        .noNotification{
            padding-left: 0.5em;
            color: rgb(151, 150, 150);
            font-size: 0.9em;
            width: 100%;
            text-align: center;
            margin-top: 1em !important;
        }
    }
}