.dashboardLayout{
  width: 100%;
  display: flex;


  .sideBar{
    width: 20em;
    height: 89vh;
    background-color: white;
    box-shadow: 1px 2px 4px -1px rgba(0,0,0,0.75);
    border-right: 1px solid rgb(219, 219, 219);
    padding: 0.6em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    span{
      width: 100%;
      margin-top: 1.5em;
      border-left: 0.3em solid red !important;
      padding: 0.7em 0;
      padding-left: 1em;
      background-color: rgb(243, 243, 243);
      font-size: 0.9em;

      &:hover{
        cursor: pointer;
        background-color: rgb(234, 234, 234);
      }

    }
  }

  .tableContainer{
    width: 100%;
    height: 100vh;
    padding: 1em;
  }

}


.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 3;
  padding: 3em;

  .modalBackground{
      position: absolute;
      background-color: rgba(0, 0, 0, 0.688);
      width: 100%;
      height: 100%;
      
  } 

  .modalContent{
    z-index: 4;
    background-color: white;
    box-shadow: 2px 0px 6px -2px rgba(0,0,0,0.55);
    border-radius: 1em;
    border: 1px solid rgb(219, 219, 219);
    padding: 1.8em 1.5em;
    display: flex;
    width: 50em;
    height: 30em;

    .patientInfo{
      width: 100%;
      display: flex;
      flex-direction: column;

      h5{
        font-size: 1.4em;
        margin-bottom: 0.7em;
      }

      p{
        margin: 0.8em 0;
        margin-top: 0.9em;
        font-weight: bold;

        &:first-child{
          margin-top: 0;
        }
      }

      span{
        background-color: rgb(243, 243, 243);
        padding: 0.6em 0.3em;
        padding-left: 0.8em;
        text-transform: capitalize;
        margin-right: 1em;
        font-size: 0.9em;

        &:nth-child(5){
          text-transform: lowercase !important;
        }

      }
    }

    .column2{
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-left: 1em;

      .bpm{
        width: 100%;
        display: flex;
        justify-content: space-between;

        .currentBpmCard{
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: white;
          box-shadow: 2px 0px 6px -2px rgba(0,0,0,0.55);
          border-radius: 1em;
          border: 1px solid rgb(219, 219, 219);
          text-align: center;
          padding: 0.7em 0;
          margin: 0 0 0.5em 0.5em;

          h1{
              margin: 0;
              font-size: 1em;
          }

          p{
              &:first-child{
                  font-size: 3em !important;
                  font-weight: bolder;
                  color: rgb(3, 189, 0);
              }

              &:last-child{
                  font-size: 0.85em;
                  color: rgb(108, 108, 108);
              }
          }

          .noDataBpm{
              font-size: 1.3em !important;
              margin-top: 0.7em;
              color: rgb(189, 189, 189) !important;
          }
        }
      }

      .schedule{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        .schedDateTime{
          display: flex;
          flex-direction: row;
          margin-top: 1em;
          width: 100%;

          .time{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-right: 1em;
          }

          .date{
            display: flex;
            flex-direction: column;
            width: 100%;
          }

        }

        h5{
          font-size: 1.1em;
          margin: 0.8em 0;
        }
  
        p{
          margin: 0.6em 0;
          margin-top: 0.9em;
          font-weight: bold;
  
          &:first-child{
            margin-top: 0;
          }
        }
  
        span{
          background-color: rgb(243, 243, 243);
          padding: 0.7em 0.3em;
          padding-left: 0.8em;
          font-size: 0.9em;
        }

        .message{
          padding-top: 1em !important;
          padding-bottom: 1em !important;
          font-size: 0.85em;
        }

        button{
         width: 100%;
         background-color: #0452ce;
         color: white;
         border: 0;
         border-radius: 0.3em;
         padding: 0.8em 0;
         font-size: 1em;
         margin-top: 1em;

         &:hover{
          cursor: pointer;
         }
        }

        .incomplete{
          background-color: rgb(255, 211, 211);
          padding: 0.5em 0;
          padding-bottom: 0.8em;
          font-size: 0.9em;
          color: red;
          margin-top: 1.3em;

          span{
            background-color: initial;
            font-size: 1.3em;
          }
        }

      }

      .noCheckup{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: rgb(174, 174, 174);
        border: 1px solid rgb(237, 237, 237);
        border-radius: 0.5em;
        margin-top: 1em;
      }

    }

  }

  .graphContainer{
    z-index: 3;
    width: 50em;
    height: auto;
    margin-left: 1em;
    position: relative;

    .warningContainer{
      position: absolute;
      top: -2.8em;
      left: 0;
      width: 100%;

      .warning{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 240, 240);
        border-left: 0.2em solid red;
        border-right: 0.2em solid red;
        padding: 0.3em 0.7em;


        span{
          font-size: 1.3em !important;
          color: red;
          margin-right: 0.3em;
        }

        p{
          color: red;
          padding-top: 0.15em;
        }

      }

    }

    
    .graph{
      background-color: white;
      box-shadow: 2px 0px 6px -2px rgba(0,0,0,0.55);
      border-radius: 1em;
      border: 1px solid rgb(219, 219, 219);
    
      .tabs{
          width: 100%;
          display: flex;
          border-bottom: 1px solid rgb(228, 228, 228);
    
          span{
              border-bottom: 0.2em solid #ffffff00;
              padding: 1em;
              
              &:first-child{
                  margin-left: 0.8em;
              }
    
              &:hover{
                  background-color: rgb(244, 244, 244);
                  cursor: pointer;
              }
          }
      }
    
      select{
          padding: 0.3em 0.5em;
          margin-left: 2em;
          margin-top: 1.5em;
          border-radius: 0.3em;
      }
    
      .noData{
          height: 21.6em;
          display: flex;
          justify-content: center;
          align-items: center;
      }
    }
  }

}



