*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none;
}

body{
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

/* width */
::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
