.mainContainer{
    width: 100%;
    height: 90.85vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .showCard{
        display: flex;

        .videoContainer{
            width: 600px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            iframe{
                ::-webkit-scrollbar {
                    width: 0px;
                    height: 0px;
                    display: none;
                }
            }

            .faceVideo{
                border-radius: 1em;
            }

            .bpmVideo{
                top: 0;
                right: 0;
                position: absolute;
                border-radius: 0 1em 0 0;
            }

            .bpmVideo2{
                position: relative !important;
                border-radius: 1em !important;
            }
        }

        .sideInfo{
            display: flex;
            flex-direction: column;

            .bpmCounter{
                width: 10em;
                height: 10em;
                margin: 0 1em;
                background-color: white;
                border: 1px solid rgb(228, 228, 228);
                box-shadow: 0px 0px 32px -19px rgba(0,0,0,0.75);
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
        
                .progressBar{
                    width: 8.9em;
                    height: auto;
                }
        
                img{
                    width: 3em;
                    height: auto;
                }
        
                span{
                    color: rgb(222, 0, 56);
                    font-weight: bolder;
                    font-size: 3.5em;
                    text-align: center;
                }
            }

            .btnContainer{
                margin-left: 1em;
                margin-top: 2em;
                height: auto;
                transition: 500ms;

                p{
                    margin-bottom: 0.7em;
                }

                .toggleContainer{
                    width: 100%;
                    display: flex;
                    align-items: center;

                    span{
                        font-weight: bold;
                        font-size: 0.9em;  
                        margin-top: 0.3em;
                        margin-left: 0.6em;
                    }

                    .toggleBtn{
                        border: 1px solid rgb(252, 45, 97);
                        background-color: rgb(255, 237, 237);
                        border-radius: 3em;
                        width: 3em;
                        height: 1.5em;
                        padding: 0.1em 0.2em;
                        margin-top: 0.3em;

                        &:hover{
                            cursor: pointer;
                        }

                        .circle{
                            transition: 500ms;
                            width: 1.5em;
                            height: 1.5em;
                            border-radius: 50%;
                            background-color: rgb(222, 0, 56);
                        }
                    }

                    .toggleBtn2{
                        border: 1px solid rgb(45, 252, 55);
                        background-color: rgb(255, 237, 237);
                        border-radius: 3em;
                        width: 3em;
                        height: 1.5em;
                        padding: 0.1em 0.2em;
                        transform: rotate(180deg);
                        margin-top: 0.3em;

                        &:hover{
                            cursor: pointer;
                        }

                        .circle{
                            transition: 500ms;
                            width: 1.5em;
                            height: 1.5em;
                            border-radius: 50%;
                            background-color: rgb(22, 222, 0);
                        }
                    }

                }

            }
        }
    
    }

    .modalBPM{
        width: 100%;
        height: 100%;
        position: fixed;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.825);
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 27em;
            height: auto;
            position: absolute;
            z-index: 2;
        }

        .displayBPM{
            width: 20em;
            height: 31em;
            background-image: url('../public/paper.svg');
            background-size: cover;
            z-index: 3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1em 2em 1em 1em;

            p{
                font-size: 2.7em;
                font-weight: bolder;
                font-family: monospace;
            }
            
            h5{
                font-size: 7.5em;
                font-weight: bolder;
                color: rgb(0, 177, 0);
                font-family: cursive;
                margin-bottom: 0.2em;
            }

            button{
                background-color: transparent;
                border: 0;
                padding: 0;
                font-size: 1.6em;
                font-weight: bold;
                font-family: monospace;

                &:hover{
                    cursor: pointer;
                    border-bottom: 1px solid rgb(0, 177, 0);
                }

                span{
                    display: none;
                    color: rgb(0, 177, 0);
                }
                
                &:first-child{
                    margin-right: 2em;
                    &:hover{
                        color: rgb(0, 177, 0);
                        span{
                            display: initial;
                            font-size: 1.1em;
                        }

                    }
                }

                &:last-child{
                    &:hover{
                        color: red;
                        span{
                            color: red;
                            display: initial;
                            font-size: 1.2em;
                        }
                    }
                }

            }
        }
    }
}